.tabbed_content {
	background-color: #fff;
	width: 700px;	
	height: 500px;
}

.tabs {
	height: 45px;
	position: relative;
}

.tabs .moving_bg {
	padding: 10px;
	background-color:#555;
	position: absolute;
	width: 100px;
	z-index: 190;
	left: 0;
	padding-bottom: 17px;
	background-position: bottom left;
	background-repeat: no-repeat;
}

.tabs .tab_item {
	display: block;
	float: left;
	padding: 10px;
	width: 100px;
	color: #FFFFFF;
	background: #111;
	text-align: center;
	font-size: 14px;
	z-index: 200;
	position: relative;
	cursor: pointer;
}

.tabbed_content .slide_content {
	overflow: hidden;
	background-color: #fff;
	padding: 10px 0 0 15px;
	position: relative;
	width: 600px;
}

.tabslider {
	width: 5000px;
}

.tabslider ul {
	float: left;
	width: 560px;
	margin: 0px;
	padding: 0px;
	margin-right: 40px;
}

.tabslider ul a {
	color: #000000;
	text-decoration: none;
}

.tabslider ul a:hover {
	color: #aaaaaa;
}

.tabslider ul li {
	padding-bottom: 7px;
}